<body class="page-index">
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Luna Wallet</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis cum recusandae eum laboriosam voluptatem repudiandae odio, vel exercitationem officiis provident minima. </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="http://localhost:53903/loginCadastro" class="btn-get-started">Login</a> <!--link do sintema-->

            <a href="https://www.youtube.com/watch?v=Rnf-ugYjnKI" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assistir Video</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main id="main">
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 id="quemSomos">Quem Somos</h2>
        </div>
        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
          <div class="col-xl-5 img-bg" style="background-image: url('assets/img/investimento.jpg')"></div>
          <div class="col-xl-7 slides  position-relative">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h4 class="mb-3">. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      It has survived not only five centuries, but also the leap into electronic typesetting, 
                      remaining essentially unchanged.</h4>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h4 class="mb-3">. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      It has survived not only five centuries, but also the leap into electronic typesetting, 
                      remaining essentially unchanged.</h4>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h4 class="mb-3">. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      It has survived not only five centuries, but also the leap into electronic typesetting, 
                      remaining essentially unchanged.</h4>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h4 class="mb-3">. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      It has survived not only five centuries, but also the leap into electronic typesetting, 
                      remaining essentially unchanged.</h4>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="call-to-action" class="call-to-action" id="tipo">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 class="cor">Investimentos</h2>
        </div>
        <div class="row gy-5">
          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-piggy-bank" style="color: #fae207;"></i></div>
            <div>
              <h4 class="cor">Poupança</h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quo, 
                corporis quod sint amet eveniet numquam a possimus consequatur eligendi excepturi nam 
                cumque ipsam sed sapiente facilis tempora aspernatur. Ratione.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-graph-up-arrow" style="color: #fae207;"></i></div>
            <div>
              <h4 class="cor">Renda Variavel</h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quo, 
                corporis quod sint amet eveniet numquam a possimus consequatur eligendi excepturi nam 
                cumque ipsam sed sapiente facilis tempora aspernatur. Ratione.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-coin" style="color: #fae207;"></i></div>
            <div>
              <h4 class="cor">Renda Fixa</h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quo, 
                corporis quod sint amet eveniet numquam a possimus consequatur eligendi excepturi nam 
                cumque ipsam sed sapiente facilis tempora aspernatur. Ratione.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-cash-coin" style="color: #fae207;"></i></div>
            <div>
              <h4 class="cor">Tesouro Direto</h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quo, 
                corporis quod sint amet eveniet numquam a possimus consequatur eligendi excepturi nam 
                cumque ipsam sed sapiente facilis tempora aspernatur. Ratione.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
  </section>

    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header" id="blog">
          
        </div>

        <div class="row gy-5">

          <div class="col-xl-5 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/blog/grafico1.jpg" class="img-fluid" alt=""></div>
              
              <h3 class="post-title">Acompanha seus investimentos</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam magni blanditiis hic recusandae. 
                Corporis laudantium facere eum necessitatibus dignissimos totam iste sunt consequatur cupiditate,
                 molestiae veniam molestias doloribus labore ipsa?</p>
           </div>
          </div>

          <div class="col-xl-5 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/blog/investimento.jpg" class="img-fluid" alt="" width="400px;"></div>
              
              <h3 class="post-title">Você pode fazer um novo investimento</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam magni blanditiis hic recusandae. 
                Corporis laudantium facere eum necessitatibus dignissimos totam iste sunt consequatur cupiditate,
                 molestiae veniam molestias doloribus labore ipsa?</p>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span id="contato">Luna Wallet</span>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eum voluptatum dolor alias sit? 
              Ipsum illo ab cum itaque, dolor a ullam modi nemo eum corrupti eos. Unde, tenetur provident.</p>
            <div class="social-links d-flex  mt-3">
              <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="index.html">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#quemSomos">Quem Somos</a></li>
              <li><i class="bi bi-dash"></i> <a href="#tipo">Investimento</a></li>
              <li><i class="bi bi-dash"></i> <a href="#blog">Notícia</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contato</h4>
            <p>
              Rua 7, n° 100 <br>
              Parque da Colina I<br>
              Brasil <br>
              CEP 12345-78<br><br>
              <strong>telefone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>LW do Investidor</span></strong>. 
        </div>
        <div class="credits">
          Editado por Larissa e Wanderson.
        </div>
        <div class="credits">
          Modelo do Design <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
</body>

