<div class="container">
    <div class="row">
        <div class="col-10 border-light rounder p-5 shadow">
            <h2 style="text-align: center;">Novo Investimento</h2>
            <form >
                <div class="row">
                    <div class="col-12">
                        <label>Escolha o seu novo investimento!</label>
                        <select data-focusable="true" class="form-control"></select>
                        <select data-focusable="true" class="form-control"></select>
                    </div>
                    <div class="col">
                        <input required type="text" class="estilo" placeholder="Valor Investido" formControlName="valorInvestido"/>
                        <input required type="text" class="estilo" placeholder="Banco" formControlName="banco"/>
                        <input required type="number" class="estilo" placeholder="Unidades" formControlName="unidades"/>
                    </div>
                    <div class="col">
                        <input required type="date" class="estilo"  formControlName="Vencimento"/>
                        <input required type="text" class="estilo" placeholder="Liquidez (opcional)" formControlName="liquidez"/>
                        <input required type="text"  class="estilo" placeholder="Custos (opcional)" formControlName="custo"/>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>




