<div class="container">
    <div class="row">
        <div class="col-6 border-light rounder p-5 shadow">
            <h2 style="text-align: center;">Movimentação</h2>
            <form>
                <div class="row"> 
                    <div class="col-12">
                        <input required type="date" class="estilo"  formControlName="Vencimento"/>
                        <input required type="text" class="estilo" placeholder="Valor" formControlName="valor"/>
                        <input required type="number" class="estilo" placeholder="Unidades" formControlName="unidades"/>
                        <select data-focusable="true" class="form-control"></select>
                        <select data-focusable="true" class="form-control"></select>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>
